{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134715036-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134715036-1');
    </script>


    <link rel="stylesheet" href="{% static 'css/mint-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/projectspirit.css' %}">


    <title>SMUS Go</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <br>
                <nav class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'spiritdashboard:dashboard' %}">🏆 <b>SMUS Go</b></a>
                    <span class="navbar-text">
                    {% if user.is_authenticated %}
                        Signed in as {{ user.username }}.
                    {% else %}
                        A game, but even better.
                    {% endif %}
                    </span>
                </nav>
                <br>
                {% block content %}
                {% endblock %}
                <hr>
                <footer class="text-center">
                <p><small>Made with 💖 by Rashid & Garry | <a href="https://github.com/rashidx/smus-go">Contribute</a> | <a href="{% url 'spiritdashboard:privacy_policy' %}">Privacy Policy</a> | <a href="{% url 'spiritdashboard:logout' %}">Logout</a></small></p>
                </footer>
                <hr>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>