{% extends 'spiritdashboard/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h4>Login</h4>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>        
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'spiritdashboard:login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <br>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="">Forgot your password?</a></p>
{% endblock %}