{% extends 'spiritdashboard/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
  <h4>✨ New here?</h4>
  <p>SMUS Go is a game where you and your friends can compete to earn points, and your grade can collectively add points to SMUS Got Talent points for amazing prizes!</p>
  <a class="btn btn-primary" href="{% url 'spiritdashboard:register'%}" role="button">Create an Account</a>
</div>

    <h4>Login</h4>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>        
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'spiritdashboard:login' %}?next={{ next }}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <br>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="">Forgot your password?</a></p>
{% endblock %}